@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,400;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #EAEBEF;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}

.nav{
    width: 380px;
}

.nav_link{
    color: #303440;
    display: block;
    padding: 15px 0;
    text-decoration: none;
}

.nav_link--inside{
    border-radius: 6px;
    padding-left: 20px;
}

.nav_link--inside:hover{
    background: #f6f8fa;
}

.list{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 24px 24px 0;
    background: #fff;
    align-items: center;
}

.list_item{
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.list_item--click{
    cursor: pointer;
}

.list_button{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}

.arrow .list_arrow{
    transform: rotate(90deg);
}

.list_arrow{
    margin-left: auto;
    transform: transform .3s;

}

.list_show{
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #303440;
    list-style: none;
    transition: height .4s;
    height: 0;
}

.list_img_1{
    margin-left: -70px;
    margin-right: auto;
    margin-top:none;
} 

.content_main{
    margin-left: 389px;
    margin-top: -100vh;
    width: auto;
}

.content_article{
    margin-left: none;
    margin-top:0;
    width: 100%;
    display: flex;
    justify-content: center;
    background: #fff;
    flex-direction:column;
    height: 100vh;
} 

.content_article_principal{
    margin-left: 20px;
}
/*Pruebas-citas*/

.content_article_citas{
    width: 400px;
    height: 100vh;
    display: flex;/*Centra lo que hay dentro*/
    justify-content: center;
    flex-direction: column;
    border-radius: 12px 12px 12px 12px;
    background: #d6d6d6;
}

.content_article_citas_texto{
    margin-left: 20px;
    margin-right: 20px;
}

.content_aside_1{
    margin-left: 407px;
    margin-top: -100vh;
    height: 100vh;
    width: 400px;
    display: flex;/*Centra lo que hay dentro*/
    justify-content: center;
    flex-direction: column;
    border-radius: 12px 12px 12px 12px;
    background: #d6d6d6;
}

.content_aside_calendar{
    margin-left: 813px;
    margin-top: -100vh;
    height: 100vh;
    width: 1000px;
    display: flex;/*Centra lo que hay dentro*/
    justify-content: center;
    flex-direction: column;/*En que direccion se hace el centro*/
    border-radius: 12px 12px 12px 12px;
    background: #afafaf;
}